In [ ]:
student={"name":"Krish","age":32,"grade":24}
print(student)
print(type(student))